*, ::before, ::after {
    margin: 0;
    padding: 0;

    /*清除移动端默认的 点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*设置所有的都是以边框开始计算宽度  百分比*/
    -webkit-box-sizing: border-box; /*兼容*/
    box-sizing: border-box;

}
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body {
    font-family: "MicroSoft YaHei", sans-serif;
    color: #333333;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
   text-decoration: none;

}
ul,ol{
    list-style: none;
}
em{
    font-style: normal;
}
input{
   border: none;
    outline: none;
    /*清除移动端默认的表单样式*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.f_left{
 float: left;
}
.f_right{
   float: right;
}
.clearfix::before,.clearfix::after{
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}


textarea {
    resize: none;
}

iframe, img {
    border: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.m_t10{
    margin-top: 10px;
}
