/*自己添加*/
.hidetext {
    visibility: hidden;
}
.startCount{
    width: 89.333%;
    height: 1rem;
    font-size: 0.4rem;
    color: #ffffff;
    background: #ffa6b3;
    margin: 0.3rem auto 0rem;
    box-shadow: 0 0 0.02rem 1px #EAD2D5;
    border-radius: 0.3rem;
    text-align: center;
    line-height: 1rem;
}
/*
*/
ul{list-style: none}

.srBody {width:640px;height:280px;margin:0 auto;}

.srBody table {width:80%;margin:12px auto 0;

    background:#EDF9FF;border-collapse:collapse;}
.srBody table td{border:1px rgb(209,192,165) solid;
    vertical-align:middle;text-align:center;
    line-height:0.8rem;}
.srBody table td span{
    display: block;
}
.srtextl {float:left;width:320px;}


.dtitle1 td,.dtitle2 td {background:#FFFFFF;color:#000000}

.srBody table .dtitle1>td{
    font-size: 0.4rem;
}
.srtextb{
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    text-align:center;
    display: flex;
}
.srtextb ul{
    width:100%;
}
.srtextb ul li{
    width:25%;
    flex: 1;
    float: left;
    line-height: 0.35rem;
    font-size: 0.28rem;
}
/*安全期*/
.srtextb  span{
    display: inline-block;
    font-size: 0.28rem;

}

.col1,.col2,.col3,.col4{
    display: inline-block;
    width:0.3rem;
    height: 0.3rem;
    border-radius: 0.1rem;
    vertical-align: middle;
    box-shadow:0 0 1px 1px #B9B3B0 inset;
}
.col1 {
    background:#EBFDFD}
/*排卵期*/
.col2 {background:#FFEBED}
/*月经期*/
.col3 {background:#FFFCF2}
/*排卵日*/
.col4 {background:#FFA6B3}

.dTxt {width:550px;margin:0 auto;font-size:14px;line-height:24px;}

@media screen and (max-width:719px) {
    /*工具*/
    .srBody {width:auto;height:auto;}

    .srBody table {width:95%;}

    .srtextl {float:none;width:100%;}

    .dTxt {width:auto;margin:0;}
    .dTxt .pCode {display:none;}

    .ulTextlist_3_2 li {float:none;margin-top:6px;}

    table td {font-size:12px;}
}


/*自己添加*/
output {
    display: block;
    font-size: 0.36rem;
    color: rgb(255, 166, 179);
    line-height: 0.7rem;
    text-align: center;
}